<meta charset="utf-8" xmlns="http://www.w3.org/1999/html">
<div class="modal-header">
    <h3 class="modal-title">提示</h3>
</div>
<div class="modal-body" id="msgInfo">确认要删除？</div>
<div class="modal-footer">
    <button class="operate-btn on btnfootpad" ng-click="deleteReaderType()">确定</button>
    <button class="operate-btn on btnfootpad" ng-click="cancel()">关闭</button>
</div>
<script>
    $(function(){
        $(".style_select ul.dropdown-menu").css("overflow-x","hidden");
        $(".btn.btn-blue.btn-fixed").css("bottom","30px")
    })
</script>
