<meta charset="utf-8" xmlns="http://www.w3.org/1999/html">
<div style="background-color: white">

    <div class="modal-header">
        <button id="modelCancel" type="button" class="close"
                ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">新建图书类型</h4>
    </div>

    <div class="modal-body">
        <form  class="file-brief file-brief-show form-validation" name="updateForm" style="margin: 40px">
            <div id="guest_div" style="height:100%;overflow: auto;">

                <div class="form-group">
                    <label class="col-md-offset-1 col-sm-offset-1 col-md-3 col-sm-3  control-label">类型名称:</label>
                    <div class="col-md-6 col-sm-6 no-padder-sm">
                        <select  class="form-control" name="text" ng-model="rpForm.bookTypeId" style="display: inline-block;">
                            <option style="padding-top: 5px" value="">未知</option>
                            <option style="padding-top: 5px" value="11101">科技类</option>
                            <option style="padding-top: 5px" value="11102">文学类</option>
                            <option style="padding-top: 5px" value="11103">教育类</option>
                            <option style="padding-top: 5px" value="11104">生活类</option>
                            <option style="padding-top: 5px" value="11105">工作类</option>
                        </select>
                    </div>
                    <span class="no-null">*</span>
                </div>

                <div class="form-group">
                    <label class="col-md-offset-1 col-sm-offset-1 col-md-3 col-sm-3  control-label">学科属性：</label>
                    <div class="col-md-6 col-sm-6 no-padder-sm">
                        <select  class="form-control" name="text" ng-model="rpForm.bookTypeDisciplineId" style="display: inline-block;">
                            <option style="padding-top: 5px" value="">未知</option>

                            <option style="padding-top: 5px" value="21101A">哲学</option>
                            <option style="padding-top: 5px" value="21102B">宗教</option>
                            <option style="padding-top: 5px" value="21103C">伦理</option>
                            <option style="padding-top: 5px" value="21104D">逻辑</option>
                            <option style="padding-top: 5px" value="21105E">美学</option>

                            <option style="padding-top: 5px" value="22101A">心理</option>
                            <option style="padding-top: 5px" value="22102B">语言</option>
                            <option style="padding-top: 5px" value="22103C">文学</option>
                            <option style="padding-top: 5px" value="22104D">艺术</option>
                            <option style="padding-top: 5px" value="22105E">政治</option>

                            <option style="padding-top: 5px" value="23101A">经济</option>
                            <option style="padding-top: 5px" value="23102B">军事</option>
                            <option style="padding-top: 5px" value="23103C">法律</option>
                            <option style="padding-top: 5px" value="23104D">教育</option>
                            <option style="padding-top: 5px" value="23105E">体育</option>

                            <option style="padding-top: 5px" value="24101A">传媒</option>
                            <option style="padding-top: 5px" value="24102B">资讯</option>
                            <option style="padding-top: 5px" value="24103C">管理</option>
                            <option style="padding-top: 5px" value="24104D">商贸</option>
                            <option style="padding-top: 5px" value="24105E">历史</option>

                            <option style="padding-top: 5px" value="25101A">考古</option>
                            <option style="padding-top: 5px" value="25102B">民族</option>
                            <option style="padding-top: 5px" value="25103C">财金</option>
                            <option style="padding-top: 5px" value="25104D">统计</option>
                            <option style="padding-top: 5px" value="25105E">社会</option>
                            <option style="padding-top: 5px" value="FFFFFF">其他</option>
                        </select>
                    </div>
                    <span class="no-null">*</span>
                </div>

                <div class="form-group">
                    <label class="col-md-offset-1 col-sm-offset-1 col-md-3 col-sm-3  control-label">是否国内：</label>
                    <div class="col-md-6 col-sm-6 no-padder-sm">
                        <select  class="form-control" name="text" ng-model="rpForm.bookTypeLocation" style="display: inline-block;">
                            <option value="">未知</option>
                            <option value="是">是</option>
                            <option value="否">否</option>
                        </select>
                    </div>
                    <span class="no-null">*</span>
                </div>


                <div ng-if="varif" style="text-align: center">
                             <span style="color: red;position:relative" >
                                    <span>*为必填项</span>
                                </span>
                </div>
            </div>

        </form>

        <div class="modal-footer" style="position:relative;">
            <button type="submit" class="operate-btn on"  ng-click="createBookType()">创建</button>
            <button type="button" class="operate-btn on" ng-click="cancel()">取消</button>
        </div>
    </div>

</div>
<script>
    $(function(){
        $(".style_select ul.dropdown-menu").css("overflow-x","hidden");
        $(".btn.btn-blue.btn-fixed").css("bottom","30px")
    })
</script>
