<meta charset="utf-8" xmlns="http://www.w3.org/1999/html">
<div style="background-color: white">

    <div class="modal-header">
        <button id="modelCancel" type="button" class="close"
                ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">修改图书类型</h4>
    </div>

    <div class="modal-body">
        <form  class="file-brief file-brief-show form-validation" name="updateForm" style="margin: 40px">
            <div id="guest_div" style="height:100%;overflow: auto;">
                <div class="form-group">
                    <label class="col-md-offset-1 col-sm-offset-1 col-md-3 col-sm-3  control-label">类型名称:</label>
                    <div class="col-md-6 col-sm-6 no-padder-sm">
                        <input type="text" class="form-control" ng-model="rpForm.bookTypeName"
                               placeholder="" required>
                    </div>
                </div>
            </div>

        </form>

        <div class="modal-footer" style="position:relative;">
            <button type="submit" class="operate-btn on"  ng-click="updateBookType()">修改</button>
            <button type="button" class="operate-btn on" ng-click="cancel()">取消</button>
        </div>
    </div>

</div>
<script>
    $(function(){
        $(".style_select ul.dropdown-menu").css("overflow-x","hidden");
        $(".btn.btn-blue.btn-fixed").css("bottom","30px")
    })
</script>
